/*Fonts*/

/* &display=swap&subset=cyrillic-ext */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,regular,500,700,900&display=swap");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}
li {
   list-style: none;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}
img {
   vertical-align: top;
}
html,
body {
   font-family: "Roboto", Arial, sans-serif;
   height: 100%;
}
html {
   font-size: 16px;
}
body {
   overflow-x: hidden;
   line-height: 1;
   font-weight: 400;
   background: #be541e;
}
.wrapper {
   min-height: 100%;
   padding-top: 300px;
}

/* --------------- */

[class*="__container"] {
   margin: 0 auto;
}

.page {
   position: relative;
}

.page__container {
}

.page__mountains-body {
   position: absolute;
   top: -350px;
   left: 0px;
   width: 100%;
   height: 600px;
   z-index: 1;
   background: #0d9ce4 url("../img/10.png") 0 0 / 100% 100% no-repeat;
}
.sun__bg {
   position: absolute;
   top: 150px;
   left: 130px;
   width: 100px;
   height: 100px;

   transform: translateX(-20%) scale(0.4, 0.4);
   background: url("../img/sun.png") 0 0 / 100px 100px no-repeat;
   transform-origin: left top;
   animation-name: sun__bg;
   animation-delay: 1s;
   animation-fill-mode: forwards;
   animation-timing-function: ease;
   animation-iteration-count: 1;
   animation-duration: 10s;
}
@keyframes sun__bg {
   0% {
      transform: translateX(-5%) rotate(0deg) scale(0.1, 0.1);
   }
   20% {
      transform: translateX(20%) rotate(25deg) scale(0.3, 0.3);
   }
   30% {
      transform: translateX(30%) rotate(40deg) scale(3, 3);
   }
   50% {
      transform: translateX(50%) rotate(65deg) scale(0.5, 0.5);
   }
   60% {
      transform: translateX(60%) rotate(85deg) scale(0.6, 0.6);
   }
   70% {
      transform: translateX(70%) rotate(105deg) scale(0.8, 0.8);
   }
   80% {
      transform: translateX(80%) rotate(200deg) scale(0.9, 0.9);
   }
   90% {
      transform: translateX(90%) rotate(250deg) scale(1, 1);
   }
   100% {
      transform: translateY(100%) rotate(390deg) scale(1.1, 1.1);
   }
}
.cloud__bg-03 {
   position: absolute;
   top: 300px;
   right: 250px;
   width: 150px;
   height: 100px;
   z-index: 5;
   background: url("../img/kisspng-cloud-clip-art-clouds-clipart-5a7968f338df26.911642511517906163233.png") 0 0 / 100px
      100px no-repeat;
   animation-name: cloud__bg-03;
   animation-delay: 1s;
   animation-fill-mode: forwards;
   animation-timing-function: ease;
   animation-iteration-count: 1;
   animation-duration: 20s;
}
.cloud__bg-02 {
   position: absolute;
   top: 100px;
   right: 650px;
   width: 150px;
   height: 100px;
   transform: rotate(10deg) scale(2, 2);
   background: url("../img/kisspng-cloud-clip-art-clouds-clipart-5a7968f338df26.911642511517906163233.png") 0 0 / 100px
      100px no-repeat;
   transform-origin: top;
   animation-name: cloud__bg-02;
   animation-delay: 1s;
   animation-fill-mode: none;
   animation-iteration-count: infinite;
   animation-timing-function: ease;
   animation-duration: 4s;
}
.cloud__bg {
   position: absolute;
   top: 200px;
   right: 30px;
   width: 150px;
   height: 100px;
   background: url("../img/kisspng-cloud-clip-art-clouds-clipart-5a7968f338df26.911642511517906163233.png") 0 0 / 100px
      100px no-repeat;
   animation-name: cloud__bg;
   animation-delay: 1s;
   animation-fill-mode: forwards;
   animation-timing-function: ease;
   animation-iteration-count: 1;
   animation-duration: 10s;
}
@keyframes cloud__bg {
   0% {
      transform: translateY(0%) scale3d(1.9, 1.9, 1.9);
   }
   10% {
      transform: translateY(-3%) scale3d(1.9, 1.9, 1.9);
   }
   20% {
      transform: translateY(-5%) scale3d(1.8, 1.8, 1.8);
   }
   30% {
      transform: translateY(-8%) scale3d(1.7, 1.7, 1.7);
   }
   40% {
      transform: translateY(-10%) scale3d(1.6, 1.6, 1.6);
   }
   50% {
      transform: translateY(-40%) scale3d(1.4, 1.4, 1.4);
   }
   70% {
      transform: translateY(-60%) scale3d(1.2, 1.2, 1.2);
   }
   80% {
      transform: translateY(-70%) scale3d(0.8, 0.8, 0.8);
   }
   90% {
      transform: translateY(-90%) scale3d(0.5, 0.5, 0.5);
   }
   100% {
      transform: translateY(-100%) scale3d(0.3, 0.3, 0.3);
   }
   150% {
      transform: translateY(-150%) scale3d(0.2, 0.2, 0.2);
   }
   200% {
      transform: translateY(-400%) scale3d(0, 0, 0);
   }
}
@keyframes cloud__bg-02 {
   0% {
      transform: rotate(10deg) scale(2, 2);
   }
   50% {
      transform: rotate(-45deg) scale(2, 2);
   }
   100% {
      transform: rotate(10deg) scale(2, 2);
   }
}

@keyframes cloud__bg-03 {
   0% {
      transform: translateX(0%);
   }

   100% {
      transform: translateX(-600%);
   }
}
.road {
   position: relative;
   z-index: 3;
}
.road__body {
   position: absolute;
   top: 190px;
   left: 0px;
   width: 100%;
   height: 180px;
   background-color: rgb(83, 83, 83);
}
.road__border {
   position: absolute;
   top: 60px;
   left: 0px;
   width: 100%;
   height: 1px;
   border-top: 30px double #d89031;
}

.page__car-box {
   margin: 0 0 0 auto;
   width: 770px;
   height: 360px;
   overflow: hidden;
   transform: scale(0.4, 0.4);
   animation-name: car-box;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-delay: 1.5s;
   animation-duration: 10s;
}
.car-box {
   position: relative;
   top: 0px;
   left: 200px;
   z-index: 5;
}
.car-box:hover {
   animation-play-state: paused;
}
@keyframes car-box {
   0% {
      transform: translate(0%, 0%) scale(0.4, 0.4);
   }
   50% {
      transform: translate(-100%, 0%) scale(0.5, 0.5);
   }
   100% {
      transform: translate(-1000%, 0%) scale(0.5, 0.5);
   }
}
.car-box__frame-detail-01 {
   position: absolute;
   top: 250px;
   left: 50px;
   width: 700px;
   height: 51px;
   border-radius: 0px 0px 50px 0px;
   background: rgb(43, 42, 42);
   z-index: 3;
}
.car-box__dop-detail {
   position: relative;
   top: 0px;
   left: -6px;
   width: 7px;
   height: 51px;
   transform: rotate(180deg);
   border-radius: 0% 100% 100% 0% / 0% 48% 52% 100%;
   z-index: 9;
   background-color: rgb(43, 42, 42);
}
.car-box__frame-detail-02 {
   position: absolute;
   top: 200px;
   left: 50px;
   width: 700px;
   height: 50px;
   background-color: #548ca8;
   border-radius: 170px 150px 0px 0px;
}
.car-box__frame-detail-03 {
   position: absolute;
   top: 170px;
   left: 53px;
   width: 550px;
   height: 100px;
   background-color: #548ca8;
   border-radius: 120% 0px 0px 80%;
   z-index: 1;
}
.car-box__frame-detail-04 {
   position: absolute;
   top: 150px;
   left: 280px;
   width: 450px;
   height: 100px;
   background-color: #548ca8;
   transform: skew(12deg);
   border-radius: 0px 2px 30px 0px;
}
.car-box__headlight {
   position: relative;
   top: 30px;
   left: 437px;
   width: 15px;
   height: 25px;
   background-color: #eb4a20;
   z-index: 6;
   box-shadow: inset -1px 0px 3px 1px rgba(7, 7, 7, 0.616);
   border-radius: 3px;
}
.car-box__frame-detail-05 {
   position: absolute;
   top: 150px;
   left: 58px;
   width: 250px;
   height: 100px;
   background-color: #548ca8;
   border-radius: 250% 0px 0px 80%;
}
.car-box:hover .car-box__bulb-light {
   position: absolute;
   width: 0;
   height: 0;
   opacity: 1;
   transform: translate(-40px, -3px) rotate(74deg) scale(2, 2);
   border-style: solid;
   border-width: 0 15px 40px 15px;
   border-color: transparent transparent #ffffffa1 transparent;
}
.car-box__bulb-light {
   position: absolute;
   width: 0;
   height: 0;
   opacity: 0;
   transform: translate(-40px, -3px) rotate(74deg);
   border-style: solid;
   border-width: 0 15px 40px 15px;
   border-color: transparent transparent #fdfdfd00 transparent;
}

.car-box:hover .car-box__headlight-light {
   position: absolute;
   width: 0;
   height: 0;
   opacity: 1;
   transform: translate(65px, 4px) rotate(-79deg) scale(4, 4);
   border-style: solid;
   border-width: 0 15px 40px 15px;
   border-color: transparent transparent #ff0202e3 transparent;
}
.car-box__headlight-light {
   position: absolute;
   width: 0;
   height: 0;
   opacity: 0;
   border-style: solid;
   border-width: 0 15px 40px 15px;
   border-color: transparent transparent #fdfdfde3 transparent;
}

.car-box__light {
   position: relative;
   top: 68px;
   left: -4px;
   width: 18px;
   height: 13px;
   z-index: 6;
   background-color: #b9b8b8;
   transform: skew(-25deg);
   border-radius: 5px 3px 3px 5px;
}
.car-box__light-two-modification {
   position: relative;
   top: 42px;
   left: 93px;
   width: 20px;
   height: 13px;
   background-color: #b9b8b8;
   z-index: 6;
   transform: skew(-25deg);
   border-radius: 5px 3px 3px 5px;
}
.car-box__light-two {
   position: relative;
   top: 55px;
   left: 100px;
   width: 50px;
   height: 13px;
   background-color: #b9b8b8;
   z-index: 6;
   transform: skew(25deg);
   border-radius: 5px 3px 3px 5px;
}
.car-box__radiator {
   position: relative;
   top: 30px;
   left: 33px;
   width: 50px;
   height: 20px;
   background-color: #000000;
   z-index: 5;
   transform: skew(-18deg);
   border-radius: 5px 3px 3px 5px;
   border: 4px solid #494646;
}
.car-box__radiator-modification {
   position: relative;
   top: 10px;
   left: 20px;
   width: 50px;
   height: 20px;
   background-color: #000000;
   z-index: 5;
   transform: skew(18deg);
   border-radius: 5px 3px 3px 5px;
   border: 4px solid #494646;
   border-right: 0px;
}
.car-box__modification-detail {
   position: relative;
   width: 60px;
   height: 4px;
   top: 4px;
   left: -2px;
   background: #494646;
}

.car-box__glass {
   position: relative;
   top: 62px;
   left: -3px;
   width: 30px;
   height: 15px;
   border-radius: 67% 67% 35% 6% / 37% 85% 50% 63%;
   background: #548ca8;
   border-left: 2px solid #000000;
   box-shadow: inset -1px 0px 3px 1px rgba(7, 7, 7, 0.616);
   z-index: 4;
}
.car-box__glass-detail {
   position: relative;
   top: 11px;
   left: -3px;
   width: 5px;
   height: 4px;
   border-radius: 4px 0px 0px 0px;
   transform: skew(45deg);
   box-shadow: inset -1px 0px 3px 1px rgba(7, 7, 7, 0.616);
   background: #000000;
}
.car-box__glass-detail-01 {
   position: relative;
   top: 2px;
   left: 13px;
   width: 15px;
   height: 6px;
   border-radius: 3px 20px 20px 23px;
   background-color: #eb4a20;
}
.car-box__frame-detail-06 {
   position: absolute;
   top: 70px;
   left: 253px;
   width: 120px;
   height: 82px;
   background-color: rgb(187, 224, 235);
   border-radius: 70px 0px 0px 2px;
   transform: skew(-47deg);
   border-right: 3px solid rgb(0, 0, 0);
   border-bottom: 3px solid rgb(7, 7, 7);
   border-top: 2px solid rgb(5, 5, 5);
   z-index: 1;
}

.car-box__door-handle {
   position: relative;
   top: 10px;
   left: 100px;
   z-index: 1;
   width: 30px;
   height: 8px;
   background-color: rgb(23, 44, 58);
   border-radius: 20px;
}
.car-box__door-handle_left {
   position: relative;
   top: 10px;
   left: 80px;
   z-index: 1;
   width: 30px;
   height: 8px;
   background-color: rgb(23, 44, 58);
   border-radius: 20px;
}
.car-box__door-handle-modification {
   position: relative;
   top: 0px;
   left: 0px;
   width: 30px;
   height: 5px;
   background: rgb(131, 131, 131);
   border-radius: 20px;
}
.car-box__door-handle-modification_left {
   position: relative;
   top: 0px;
   left: 0px;
   width: 30px;
   height: 5px;
   background: rgb(131, 131, 131);
   border-radius: 20px;
}
.car-box__frame-detail-07 {
   position: absolute;
   top: 149px;
   left: 350px;
   width: 150px;
   height: 110px;
   background-color: #548ca8;
   border-right: 3px solid rgb(0, 0, 0);
   border-left: 2px solid rgb(0, 0, 0);
   border-top: 2px solid rgb(3, 3, 3);
   z-index: 1;
}
.car-box__frame-detail-08 {
   position: absolute;
   top: 150px;
   left: 500px;
   width: 105px;
   height: 110px;
   background-color: #548ca8;
}
.car-box__frame-detail-09 {
   position: absolute;
   top: 149px;
   left: 500px;
   width: 120px;
   height: 70px;
   background-color: #548ca8;
   border-right: 2px solid rgb(3, 3, 3);
   border-top: 2px solid rgb(0, 0, 0);
   z-index: 1;
}
.car-box__frame-detail-10 {
}
.car-box__frame-detail-11 {
   position: absolute;
   top: 150px;
   left: 211px;
   width: 110px;
   height: 100px;
   background-color: #548ca8;
}
.car-box__frame-detail-12 {
   position: absolute;
   top: 71px;
   left: 392px;
   width: 300px;
   height: 80px;
   transform: skew(35deg);
   background-color: #548ca8;
   border-radius: 0px 4px 2px 0px;
}
.car-box__frame-detail-13 {
   position: absolute;
   top: 70px;
   left: 330px;
   width: 100px;
   height: 80px;
   background-color: #548ca8;
   border-radius: 30px 0px 2px 0px;
}
.car-box__frame-detail-14 {
   position: absolute;
   top: 200px;
   left: 240px;
   width: 70px;
   height: 130px;
   background-color: rgb(0, 0, 0);
   transform: rotate(90deg);
   border-radius: 100% 0% 0% 100% / 53% 100% 0% 47%;
   z-index: 4;
}
.car-box__frame-detail-15 {
   position: absolute;
   top: 200px;
   left: 610px;
   width: 70px;
   height: 130px;
   background-color: rgb(0, 0, 0);
   transform: rotate(90deg);
   border-radius: 100% 0% 0% 100% / 53% 100% 0% 47%;
   z-index: 4;
}
.car-box__frame-detail-16 {
   position: absolute;
   width: 150px;
   height: 80px;
   top: 70px;
   left: 530px;
   border-radius: 10px;
   transform: skew(35deg);
   border: 2px solid #000;
   border-right: 4px solid #000;
   background-color: rgb(187, 224, 235);
   z-index: 1;
}
.car-box__frame-detail-17 {
   position: absolute;
   width: 100px;
   height: 80px;
   top: 70px;
   left: 493px;
   transform: skew(35deg);
   border-right: 6px solid #000;
   border-top: 2px solid #000;
   background-color: rgb(187, 224, 235);
   z-index: 2;
}
.car-box__frame-detail-18 {
   position: absolute;
   width: 156px;
   height: 80px;
   top: 70px;
   left: 390px;
   transform: skew(-46deg);
   border-radius: 30px 0px 0px 2px;
   border-top: 2px solid #000;
   border-bottom: 2px solid #000;
   border-left: 5px solid #000;
   background-color: rgb(187, 224, 235);
   z-index: 1;
}
.car-box__frame-detail-19 {
   position: absolute;
   width: 153px;
   height: 76px;
   top: 74px;
   left: 400px;
   border-bottom: 1px solid #000;
   border-radius: 100px 0px 0px 0px;
   background-color: rgb(187, 224, 235);
   z-index: 1;
}
.car-box__frame-detail-20 {
   position: absolute;
   top: 190px;
   left: 230px;
   width: 90px;
   height: 130px;

   background: #548ca8;
   transform: rotate(90deg);
   border: 2px solid #000;
   box-shadow: inset -1px 0px 18px 1px rgba(51, 50, 50, 0.582);
   border-radius: 100% 0% 0% 100% / 53% 100% 0% 47%;
   z-index: 2;
}
.car-box__frame-detail-21 {
   position: absolute;
   top: 61px;
   left: 332px;
   width: 337px;
   height: 40px;
   transform: rotate(-4deg);
   border-radius: 10% 90% 15% 85% / 20% 75% 40% 100%;
   background-color: #548ca8;
}
.car-box__frame-detail-22 {
   position: absolute;
   top: 190px;
   left: 600px;
   width: 90px;
   height: 130px;
   background-color: #548ca8;
   border: 2px solid #000;
   transform: rotate(90deg);
   box-shadow: inset -1px 0px 10px 1px rgba(51, 50, 50, 0.616);
   border-radius: 100% 0% 0% 100% / 53% 100% 0% 47%;
   z-index: 2;
}
.car-box__frame-detail-23 {
   position: absolute;
   top: 110px;
   left: 452px;
   width: 80px;
   height: 3px;
   transform: rotate(80deg);
   background: #000;
   z-index: 2;
}

.wheels {
   position: relative;
}
.car-box:hover .right-wheel {
   animation-play-state: paused;
}
.car-box:hover .left-wheel {
   animation-play-state: paused;
}
.right-wheel {
   position: absolute;
   width: 110px;
   height: 110px;
   top: 240px;
   left: 80px;
   animation-name: wheels;
   animation-iteration-count: infinite;
   animation-delay: 1s;
   animation-timing-function: linear;
   animation-duration: 0.1s;
}
@keyframes wheels {
   0% {
      transform: rotate(10deg);
   }
   100% {
      transform: rotate(-360deg);
   }
}
.right-wheel__detail-03 {
   position: relative;
   top: -5px;
   left: -5px;
   width: 120px;
   height: 120px;
   border-radius: 50%;
   border: 20px solid #292828;
   box-shadow: inset 0px 0px 10px 1px rgba(7, 7, 7, 0.616);
   overflow: hidden;
}

.right-wheel_left {
   position: relative;
   top: 240px;
   left: 440px;
}

.left-wheel {
   position: absolute;
   width: 110px;
   height: 110px;
   top: 250px;
   left: 590px;
   z-index: 4;
   animation-name: wheels;
   animation-iteration-count: infinite;
   animation-delay: 1s;
   animation-timing-function: linear;
   animation-duration: 0.1s;
}
@keyframes wheels {
   0% {
      transform: rotate(10deg);
   }
   100% {
      transform: rotate(-360deg);
   }
}
.left-wheel__detail-04 {
   position: relative;
   top: -5px;
   left: -5px;
   width: 120px;
   height: 120px;
   border-radius: 50%;
   border: 20px solid #292828;
   box-shadow: inset 0px 0px 10px 1px rgba(7, 7, 7, 0.616);
   overflow: hidden;
}

.left-wheel__005 {
   width: 10px;
   height: 100px;
   background-color: #7e7575;
   transform: translate(36px, 0px);
}
.left-wheel__006 {
   position: relative;
   top: -108px;
   left: 0px;
   width: 10px;
   height: 100px;
   background-color: #7e7575;
   transform: translate(40px, 0px) rotate(90deg);
}
.left-wheel__007 {
   position: relative;
   top: -210px;
   left: 0px;
   width: 10px;
   height: 100px;
   background-color: #7e7575;
   transform: translate(40px, 0px) rotate(45deg);
}
.left-wheel__008 {
   position: relative;
   top: -304px;
   left: 0px;
   width: 10px;
   height: 100px;
   background-color: #7e7575;
   transform: translate(40px, 0px) rotate(135deg);
}
.left-wheel__009 {
   position: relative;
   width: 40px;
   height: 40px;
   top: -378px;
   left: 21px;
   border-radius: 50%;
   background-color: #7e7575;
   z-index: 1;
}
.left-wheel_left {
   position: relative;
   top: 140px;
   left: 220px;
   z-index: 4;
}
.shadow {
   position: relative;
   bottom: -120px;
   left: 80px;
   width: 650px;
   box-shadow: 0px 10px 20px 10px #1b1b1a;
}
